@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

*:focus {
  border-color: none !important;
  outline: none !important;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  text-decoration: none !important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalam";
}

/* START | Basic Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track background color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb background color */
  border-radius: 4px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker thumb on hover */
}

/* Remove hiding/showing scrollbar to prevent DOM width changes */
/* END | Basic Scrollbar Styling */